<div class="calendar">
    <div class="calendar__header" [ngClass]="{'border-bottom': view === 'schedule'}">
        <div class="d-flex flex--align-center">
            <button [ngClass]="{'d-none': view === 'schedule'}" class="calendar__month-switcher d-none" (click)="switchPrev()">
                <mat-icon>chevron_left</mat-icon>
            </button>
            <button [ngClass]="{'d-none': view === 'schedule'}" class="calendar__month-switcher d-none mr-3" (click)="switchNext()">
                <mat-icon>chevron_right</mat-icon>
            </button>
            <span class="calendar__current-month" [hidden]="view === 'week' || view === 'schedule'">{{months[currentMonth]}}</span>
            <span class="calendar__current-month d-none" [ngClass]="{'d-sm-block': view === 'week'}">{{weekMonth}}</span>
            <span class="calendar__current-month d-none" [ngClass]="{'d-block d-sm-none': view === 'week'}">{{months[week[0].getMonth()]}}</span>
            <span class="calendar__current-year d-none" [ngClass]="{'d-sm-block': view !== 'schedule'}">{{currentYear}}</span>
            <mat-progress-spinner
                class="calendar__loading-events-spinner"
                [hidden]="!eventsLoading"
                [diameter]="25"
                [color]="'accent'"
                [mode]="'indeterminate'">
            </mat-progress-spinner>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-select #viewSelect [(value)]="view" (selectionChange)="onSelectSwitchView()">
                    <mat-option *ngFor="let view of views" [value]="view.value">
                        {{view.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div #monthView class="calendar__month" [hidden]="view !== 'month'">
        <div *ngIf="view === 'month'" class="calendar__view-wrapper">
            <div *ngFor="let week of weeks; trackBy: trackByWeek" class="calendar__month-week">
                <app-calendar-day (deleteEvent)="removeEvent($event)" (switchView)="onSwitchView($event)" *ngFor="let day of week; trackBy: trackByDay" class="calendar__month-day" [maxNumberOfEvents]="maxNumberOfEvents" [view]="'month'" [date]="day" [currentMonth]="currentMonth" [transportEvents]="getTransportEvents(day)"></app-calendar-day>
            </div>
        </div>
    </div>
    <div #weekView class="calendar__week" [hidden]="view !== 'week'">
        <div *ngIf="view === 'week'" class="calendar__view-wrapper">
            <div class="calendar__week-header">
                <div class="calendar__week-header-day" *ngFor="let day of week; trackBy: trackByDay" [ngClass]="{today: isToday(day)}">
                    <div>{{weekDaysMap[day.getDay()]}}</div>
                    <div>
                        <span>{{day.getDate()}}</span>
                    </div>
                </div>
            </div>
            <div class="calendar__week-multiple-days-events" *ngIf="getAllDayTransportEvents(week[0]).length">
                <div class="calendar__week-multiple-days-events-days">
                    <div *ngFor="let day of week; trackBy: trackByDay"></div>
                </div>
                <div class="calendar__week-multiple-days-events-inner-wrapper"
                    (click)="onSwitchView({view: 'schedule', date: week[0]})"
                    [ngStyle]="{'height': (getAllDayTransportEvents(week[0]).length * 20 + 'px')}">
                    <div class="calendar__week-multiple-days-events-event"
                        (click)="showTransportEvent(event)"
                        *ngFor="let event of getAllDayTransportEvents(week[0]); trackBy: trackTransportEvent"
                        [ngStyle]="getAllDayTransportEventStyle(event)">
                        <span>{{event.title}}</span>
                        <span>{{event.dateStart | date: 'HH:mm'}} - {{event.dateEnd | date: 'HH:mm'}}</span>
                    </div>
                </div>
            </div>
            <div class="calendar__week-content">
                <div class="calendar__week-hours">
                    <div *ngFor="let hour of hours" class="calendar__week-hour">
                        <span>{{hour}}</span>
                    </div>
                </div>
                <app-calendar-day (deleteEvent)="removeEvent($event)" *ngFor="let day of week; trackBy: trackByDay" class="calendar__week-content-day" [view]="'week'" [date]="day" [currentMonth]="currentMonth" [transportEvents]="getTransportEvents(day)"></app-calendar-day>
            </div>
        </div>
    </div>
    <div #dayView class="calendar__day" [hidden]="view !== 'day'">
        <div *ngIf="view === 'day'" class="calendar__view-wrapper">
            <div class="calendar__day-header">
                <div class="calendar__day-header-day" [ngClass]="{today: isToday(currentDate)}">
                    <div>{{weekDaysMap[currentDate.getDay()]}}</div>
                    <div>
                        <span>{{currentDate.getDate()}}</span>
                    </div>
                </div>
            </div>
            <div class="calendar__day-multiple-days-events" *ngIf="getAllDayTransportEvents(currentDate).length">
                <div class="calendar__day-multiple-days-events-inner-wrapper"
                    (click)="onSwitchView({view: 'schedule', date: currentDate})">
                    <div class="calendar__week-multiple-days-events-event"
                        [ngClass]="TransportEventStatusColor[event.status]"
                        (click)="showTransportEvent(event)"
                        *ngFor="let event of getAllDayTransportEvents(currentDate); trackBy: trackTransportEvent">
                        <span>{{event.title}}</span>
                        <span>{{event.dateStart | date: 'HH:mm'}} - {{event.dateEnd | date: 'HH:mm'}}</span>
                    </div>
                </div>
            </div>
            <div class="calendar__day-content">
                <div class="calendar__day-hours">
                    <div *ngFor="let hour of hours" class="calendar__day-hour">
                        <span>{{hour}}</span>
                    </div>
                </div>
                <app-calendar-day (deleteEvent)="removeEvent($event)" class="calendar__day-content-day" [view]="'day'" [date]="currentDate" [currentMonth]="currentMonth" [transportEvents]="getTransportEvents(currentDate)"></app-calendar-day>
            </div>
        </div>
    </div>
    <div #scheduleView [ngClass]="transportEvents.length !== 0 ? 'calendar__schedule' : null" [hidden]="view !== 'schedule'" (scroll)="checkScheduleEvents($event)">
      <div *ngIf="transportEvents.length === 0">{{'Calendar.no_schedules' | translate}}</div>
      <div *ngIf="view === 'schedule'" class="calendar__view-wrapper">
        <div class="calendar__no-more-events" [hidden]="!minScheduleEventsReached">{{'Calendar.no_previous_events' | translate}}</div>
        <app-calendar-day (deleteEvent)="removeEvent($event)" *ngFor="let item of transportEventsGroupedByDate; trackBy: transportEventGroupedByDate" class="calendar__day-content-schedule" [view]="'schedule'" [date]="item.date" [currentMonth]="currentMonth" [transportEvents]="item.events"></app-calendar-day>
        <div class="calendar__no-more-events" [hidden]="!maxScheduleEventsReached">{{'Calendar.no_further_events' | translate}}</div>
    </div>
    </div>
</div>
