@import '../../../assets/styles/variables';
:host{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.calendar {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    .mat-form-field-wrapper {
       padding-bottom: 0!important;
    }

    &__loading-events-spinner {
        margin-left: 20px;
    }

    &__view-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        flex: 1 1 auto;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 0 0 auto;
        position: relative;
    }

    &__current-month {
        font-weight: bold;
        font-size: 20px;
        text-transform: uppercase;
        padding-right: 10px;
    }

    &__current-year {
        font-size: 20px;
    }

    &__month-switcher {
        background: none;
        border: none;
        width: 24px;
        height: 24px;
        padding: 0;
        outline: 0;
    }

    &__month {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        border-left: 1px solid #dadce0;

        &-week {
            width: 100%;
            display: flex;
            height: calc(100% / 6);
            flex: 1 1 0;
        }

        &-day {
            width: calc(100% / 7);
        }
    }

    &__week,
    &__day {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        flex: 1 1 auto;

        &-header {
            display: flex;
            flex: 0 0 auto;
            margin-left: 50px;
            position: relative;

            &:after {
                // box-shadow: inset 0 1px 1px 0 rgba(0,0,0,.14), inset 0 2px 1px -1px rgba(0,0,0,.12);
                border-top: 1px solid #dadce0;
                content: '';
                height: 4px;
                position: absolute;
                width: calc(100% + 55px);
                z-index: 504;
                bottom: -4px;
                left: -55px;
            }

            &-day {
                width: calc(100% / 7);
                text-align: center;
                padding-bottom: 5px;

                div:first-child {
                    text-transform: uppercase;
                    font-size: 11px;
                }

                div:last-child {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    height: 30px;
                    width: 30px;
                    margin: 0 auto;
                    font-size: 16px;
                }

                &.today div:last-child {
                    background-color: #3f51b5;
                    color: white;
                }
            }
        }

        &-multiple-days-events {
            position: relative;
            padding-left: 50px;
            border-bottom: 1px solid #ddd;

            &-days {
                position: absolute;
                width: calc(100% - 50px);
                display: flex;
                height: 100%;
                overflow-y: scroll;

                &>div {
                    width: calc(100% / 7);
                    border-right: 1px solid #ddd;

                    &:first-child {
                        border-left: 1px solid #ddd;
                    }

                    &:last-child {
                        border-right: none;
                    }
                }
            }

            &-inner-wrapper {
                max-height: 120px;
                overflow-y: scroll;
                position: relative;
                z-index: 1;
            }

            &-event {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                font-size: 12px;
                margin-bottom: 2px;
                position: relative;
                background: rgba(0, 0, 255, 0.7);
                border-radius: 5px;
                padding: 0 3px;
                width: 100%;
                color: white;

              &.blue {
                background: rgba(0, 0, 255, 0.7019607843137254);
              }
              &.red {
                background: rgba(255, 0, 0, 0.83);
              }
              &.yellow {
                color: black;
                background: rgba(255, 255, 0, 0.84);
              }
              &.green {
                background: rgba(0, 128, 0, 0.82);
              }


              span:first-child {
                    font-weight: bold;
                    padding-right: 5px;
                }
            }
        }

        &-hours {
            min-width: 50px;
            max-width: 50px;
            height: calc(50px * 24);
            border-right: 1px solid #ddd;
        }

        &-hour {
            height: 50px;
            position: relative;

            span {
                position: relative;
                top: -15px;
            }

            &:after {
                position: absolute;
                width: calc(100vw - 45px);
                left: calc(100% - 5px);
                border-bottom: 1px solid #dadce0;
                bottom: 0;
                content: '';
            }

            &:first-child span,
            &:last-child:after {
                display: none;
            }
        }

        &-content {
            flex: 1 1 auto;
            overflow-y: auto;
            overflow-x: hidden;
            display: flex;

            &-day {
                width: calc(100% / 7);
                height: 100%;
                display: block;
            }
        }
    }

    &__day {
        &-header {
            &-day {
                width: auto;
                margin-left: 10px;
            }
        }

        &-content {
            &-day {
                width: 100%;
            }
        }
    }

    &__schedule {
        overflow: auto;
    }

    &__no-more-events {
        font-size: 20px;
        text-align: center;

        &:first-child {
            margin-top: 20px;
            margin-bottom: 40px;
        }
        &:last-child {
            margin-bottom: 20px;
        }
    }
}
