<mat-form-field appearance="outline">
  <mat-label>Assign Vehicle</mat-label>
  <select matNativeControl>
    <option value="" disabled selected>------</option>
    <option *ngFor="let item of data; let i = index;" value="{{item._id}}">{{item.make}},({{vehicle.yearOfManufacture}})</option>
  </select>
</mat-form-field>
