<header></header>

<div class="container-fluid">
  <mat-sidenav-container class="side-nav-container">
    <app-side-bar></app-side-bar>
    <main class="router-wrapper" [@fadeAnimation]="getRouterOutletState(o)">
        <router-outlet #o="outlet" [ngClass]="{ 'menu-expanded': isExpanded }"></router-outlet>
    </main>
  </mat-sidenav-container>
</div>
