@import "../../../../assets/styles/variables";

input {
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 20px 0;
  box-shadow: none;
  border: 1px solid rgba(0,0,0,.12);
}

.map {
  height: 300px;
  @media screen and (max-width: $breakpoint-sm){
    margin-top: 10px;
  }
}
