<input type="text" *ngIf="!demonstration" [placeholder]="placeholder" (keydown)="preventSubmit($event)" />
<div class="map"></div>
<input type="text" *ngIf="!demonstration" [value]="coordinates.description" placeholder="Place description" (input)="onDescriptionChange($event)" />
