$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.transport-event {
  height:100%;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

  }

  &__edit {
    background: none;
    border: none;
  }
  &__title {
    font-size: 23px;
    font-weight: bold;
    @media screen and (max-width: $breakpoint-md) {
      font-size: 15px;
      width: 100%;
    }
  }

  &__actions {
    white-space: nowrap;
  }

  &__description {
    margin-bottom: 25px !important;
  }
  &__date {
    margin-bottom: 7px;
  }
  &__date,
  &__location,
  &__driver,
  &__vehicle,
  &__client {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    mat-icon {
      margin-right: 15px;
    }
  }
  &__vehicle--gallery {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
    img {
      width: 40%;
      height: auto;
      @media screen and (max-width: $breakpoint-sm) {
        width: 50%;
      }
    }

  }
  &__contact-button {
    position: absolute;
    left: auto;
    right: 10px;
    bottom: 10px;
    &::after {
      content: '' !important;
      position: absolute !important;
      display: block !important;
      left: 0;
      top: 0;
      box-shadow: 0 0 0 rgba(204, 169, 44, 0.4) !important;
      animation: pulse 2s infinite !important;
      width: 58px !important;
      height: 58px !important;
      border-radius: 50% !important;
      z-index: 100 !important;
    }
  }
  @media screen and (max-width: $breakpoint-sm){
    &__date {
      margin-bottom: 7px;
      font-size: 13px;
    }
  }

  &__single-map {
    padding: 0!important;
    margin: 0;
    @media screen and (max-width: $breakpoint-md){
      & + & {
        margin-top: 20px;
      }
    }
  }

}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    transform: scale(1);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    transform: scale(1.08);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    transform: scale(1.2);
  }
}
