<div class="transport-event" *ngIf="transportEvent">
  <div class="transport-event__header">
    <span class="transport-event__title">{{transportEvent.title}}</span>
    <div class="transport-event__actions">
      <button (click)="editTransportEvent()" class="transport-event__edit" *ngIf="userRole === 'admin'">
        <!--<mat-icon>{{'Buttons.edit' | translate}}</mat-icon>-->
        <mat-icon>edit</mat-icon>
      </button>
      <button (click)="removeTransportEvent()" class="transport-event__edit" *ngIf="userRole === 'admin'">
        <mat-icon>delete</mat-icon>
      </button>
      <button (click)="closeTransportEvent()" class="transport-event__edit">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <mat-accordion>
    <mat-expansion-panel class="transport-event__description">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'Event_form.description' | translate}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>{{transportEvent.description}}</div>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="transport-event__date">
    <mat-icon>date_range</mat-icon>
    <span>{{formattedDate}}</span>
  </div>
  <div class="transport-event__location">
    <mat-icon>location_on</mat-icon>
    <div>
      <div> {{'Event_form.from' | translate}}: {{transportEvent.locationFromCoordinates.description}}</div>
      <div> {{'Event_form.to' | translate}}: {{transportEvent.locationToCoordinates.description}}</div>
    </div>
  </div>
  <div class="transport-event__driver">
    <mat-icon title="Driver">airline_seat_recline_normal</mat-icon>
    <span *ngFor="let driver of transportEvent.drivers">
      {{driver.firstName}} {{driver.lastName}}
      <a *ngIf="userRole == 'client' && driver.phoneNumber" class="mobile-only transport-event__contact-button"
         mat-fab color="accent"
         href="tel:{{driver.phoneNumber}}"><mat-icon>phone</mat-icon></a>
    </span>
  </div>
  <div class="transport-event__client">
    <mat-icon title="Client">perm_identity</mat-icon>
    <span *ngFor="let client of transportEvent.clients">
      {{client.firstName}} {{client.lastName}}
    </span>
  </div>
  <div class="d-flex flex--wrap">
    <div class="transport-event__vehicle">
      <mat-icon title="Car model">drive_eta</mat-icon>
      <span>{{transportEvent.vehicle.make}} {{transportEvent.vehicle.yearOfManufacture}}</span>
    </div>
    <div class="transport-event__vehicle--gallery" *ngIf="transportEvent?.vehicle.photos">
      <span *ngFor="let image of transportEvent.vehicle.photos">
        <img src="{{url + image}}"/>
      </span>
    </div>
  </div>
  <div class="transport-event__maps d-flex flex-wrap">
    <div class="transport-event__single-map col-md-6">
      <google-map [coordinates]="coordinatesFrom" [demonstration]="true"></google-map>
    </div>
    <div class="transport-event__single-map col-md-6">
      <google-map [coordinates]="coordinatesTo" [demonstration]="true"></google-map>
    </div>
  </div>
</div>
