<mat-toolbar color="primary">
  <button (click)="toggleSideNav()" *ngIf="isLoggedIn" mat-mini-fab class="ml-1 transparent">
    <mat-icon class="sidenav-icon mr-4 ml-2">{{isExpanded ? 'close' : 'menu'}}
    </mat-icon>
  </button>

  <a [routerLink]="'/'+userRole" class="ml-4 header__home-link">
    <img class="header__logo" src="{{'assetsPath' | translate}}/images/komfort_bus_small_logo_white.png">
    <span class="desktop-only">Transporter App</span>
  </a>
  <span class="spacer"></span>
  <ul>
    <li class="d-flex">
     <span *ngFor="let lang of supportedLangs"
           (click)="useLanguage(lang)"
           class="header__langIcon"
           [ngClass]="{'header__langIcon--active': selectedLang == lang}">
        <img src="{{'assetsPath' | translate}}/images/flag-{{lang}}.png">
      </span>
    </li>
  </ul>
</mat-toolbar>
