.sidenav-icon {
  cursor: pointer;
}

.header {
  &__home-link {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__logo {
    max-width: 118px;
    margin: 5px 0;
    max-height: calc(100% - 10px);
  }

  &__langIcon {
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 0 10px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    transition: transform 150ms ease-in-out, box-shadow 150ms ease-in-out;
  
    &.header__langIcon--active,
    &:hover {
      box-shadow: 0px 0px 7px 2px white;
      transform: scale(1.1);
    }
  
    img {
      width: 100%;
      height: 100%;
      vertical-align: top;
    }
  }
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

a {
  text-decoration: none;
  color: white;
}

.spacer {
  flex: 1 1 auto;
}
