<div class="col-sm-8 offset-sm-2 mt-1">

  <mat-card class="material-card">
    <mat-card-header>
      <mat-card-title>{{header}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form">

        <mat-form-field appearance="outline" class="input-full-width">
          <mat-label>{{'forms.first_name.placeholder' | translate}}</mat-label>
          <input matInput placeholder="{{'forms.first_name.placeholder' | translate}}" formControlName="firstName">
          <mat-error *ngIf="submitted && form.get('firstName').hasError('required')">
            {{'forms.first_name.required' | translate}}
          </mat-error>
        </mat-form-field>
        <br>

        <mat-form-field appearance="outline" class="input-full-width">
          <mat-label>{{'forms.last_name.placeholder' | translate}}</mat-label>
          <input matInput placeholder="Last Name" formControlName="lastName">
          <mat-error *ngIf="submitted && form.get('lastName').hasError('required')">
            {{'forms.last_name.required' | translate}}
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field *ngIf="!role" appearance="outline" class="input-full-width">
          <mat-label>{{'forms.email.placeholder' | translate}}</mat-label>
          <input matInput placeholder="Email" formControlName="email">
          <mat-error
            *ngIf="form.get('email').errors?.emailValidationError">
            {{'forms.email.email_validator' | translate}}
          </mat-error>
          <mat-error *ngIf="submitted && form.get('email').hasError('required')">
            {{'forms.email.email_required' | translate}}
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" class="input-full-width">
          <mat-label>{{'forms.phone.placeholder' | translate}}</mat-label>
          <input matInput placeholder="{{'forms.phone.placeholder' | translate}}" formControlName="phoneNumber">
          <mat-error *ngIf="submitted && form.get('phoneNumber').hasError('required')">
            {{'forms.phone.required' | translate}}</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field *ngIf="!role" appearance="outline">
          <mat-select placeholder="{{'forms.status.placeholder' | translate}}" matNativeControl formControlName="status">
            <mat-option value="Active">{{'forms.status.active' | translate}}</mat-option>
            <mat-option value="Inactive">{{'forms.status.inactive' | translate}}</mat-option>
          </mat-select>
          <mat-error *ngIf="submitted && form.get('status').hasError('required')">
            {{'forms.status.required' | translate}}
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field *ngIf="!role" appearance="outline" class="input-full-width">
          <input matInput placeholder="{{'Login_form.password' | translate}}" formControlName="password"
                 [type]="hide ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="submitted && form.get('password').hasError('required')">
            {{'Login_form.password_required' | translate}}
          </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="!role" appearance="outline" class="input-full-width">
          <input matInput placeholder="Confirm Password" formControlName="retypePassword"
                 [type]="hide ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="form.get('password').value !== form.get('retypePassword').value">
            Password confirmation must match<strong> provided password</strong>
          </mat-error>

        </mat-form-field>
        <div class="mb-1 mt-1 d-flex flex--justify-between">
          <button *ngIf="!editMode && registrationMode" [disabled]="form.invalid" mat-raised-button color="primary"
                  (click)="submitForm()">Save <i class="material-icons">
            {{'Buttons.save'| translate}}
          </i></button>
          <button *ngIf="editMode" mat-raised-button color="primary" (click)="updateForm()">{{'Buttons.update'|
            translate}}
          </button>
          <button *ngIf="id" mat-raised-button color="primary" (click)="toggleEditMode()" style="margin-left: auto;"
                  [innerHtml]="editMode ? 'Disable Editing' : 'Edit'"></button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
<!--{{form.value | json}}-->
<!--{{form.status | json}}-->
