<h1 mat-dialog-title>{{ 'Modals.send_invitation_link' | translate }}</h1>
<div mat-dialog-content>
  <form [formGroup]="invitationForm">
    <mat-form-field class="input-full-width">
      <input matInput placeholder="{{'forms.email.placeholder' | translate }}" formControlName="email">
      <mat-error
        *ngIf="invitationForm.get('email').errors?.emailValidationError">
        {{ 'forms.email.email_validator' | translate }}
      </mat-error>
      <mat-error *ngIf="submitted && invitationForm.get('email').hasError('required')">
        {{ 'forms.email.email_required' | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="input-full-width">
      <mat-select placeholder="{{ 'forms.user_role.placeholder' | translate }}" matNativeControl formControlName="userRole">
        <mat-option value="driver">{{ 'Modals.role_select.driver' | translate }}</mat-option>
        <mat-option value="client">{{ 'Modals.role_select.client' | translate }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="submitted && invitationForm.get('userRole').hasError('required')">
        {{ 'forms.user_role.user_role_required' | translate }}
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="d-flex justify-content-between">
  <button (click)="onNoClick()" mat-raised-button>{{ 'Buttons.cancel' | translate }}</button>
  <button [mat-dialog-close]="invitationForm.getRawValue()" [disabled]="!invitationForm.valid" mat-raised-button
          color="primary">
    {{ 'Buttons.send' | translate }}
  </button>
</div>
