:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.wrapper {
  height: 100%;
}
.table {
  &__header {
    position: relative;
    margin-bottom: 30px;
    @media screen and (max-width: 767px) {
      margin-bottom: 15px;
    }
  }

  &__title {
    text-align: center;
    font-size: 30px;
    margin: 15px 0;
    @media screen and (max-width: 767px) {
      font-size: 18px;
      margin: 5px 0;
    }
  }

  &__add-item-link {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    text-decoration: none;
  }

  &__action {
    display: flex;
    align-items: center;
    justify-content: center;

    &-btn {
      width: 30px;
      height: 30px;
      color: white;
      border-radius: 50%;
      padding: 0;
      position: relative;
      border: 0;

      & + & {
        margin-left: 10px;
      }

      &.danger {
        background: #dc3545;
      }

      &.info {
        background: #17a2b8
      }

      i {
        font-size: 17px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
