<div class="wrapper">
  <div class="table__header">
    <div class="table__title" *ngIf="title === 'Drivers'">{{'Table.Drivers' |translate}}</div>
    <div class="table__title" *ngIf="title === 'Clients'">{{'Table.Clients' |translate}}</div>
    <div class="table__title" *ngIf="title === 'Vehicles'">{{'Table.Vehicles' |translate}}</div>
    <div class="table__title" *ngIf="title === 'Invitations'">{{'Table.Invitations' |translate}}</div>
    <a *ngIf="addItemTitle"
       class="table__add-item-link"
       (click)="redirect(addItemLink)"
       mat-raised-button color="accent">
      <i class="material-icons">add</i>&nbsp;{{addItemTitle}}
    </a>
  </div>

  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columns;"></mat-row>

    <ng-container *ngFor="let column of columns" [matColumnDef]="column">
      <mat-header-cell *matHeaderCellDef> {{column}}</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div *ngIf="column !== 'Actions'">
          <span *ngIf="getTypeOfColumn(column) === 'string'">{{element[columnsMap[column]]}}</span>
          <span *ngIf="getTypeOfColumn(column) === 'function'">{{columnsMap[column](element)}}</span>
        </div>
        <div *ngIf="column === 'Actions'" class="table__action">
          <button *ngFor="let action of actions"
                  [title]="action.title"
                  [ngClass]="action.color"
                  class="table__action-btn"
                  (click)="emitAction(action.id, element)">
            <i class="material-icons">{{action.icon}}</i>
          </button>
        </div>
      </mat-cell>
    </ng-container>
  </mat-table>

</div>
