<div class="calendar-day"
    [id]="noTimeDate"
    (click)="switchToDayViewOnMonth()"
    (dblclick)="addNewEvent($event)"
    [ngClass]="{'last-day': (date.getDay() === 0), 'first-day': (date.getDay() === 1), week: (view === 'week'), day: (view === 'day'), schedule: (view === 'schedule')}">
    <span class="calendar-day__number" [hidden]="view !== 'month'" [ngClass]="{'not-current-month': notCurrentMonth, today: today}">{{dayNumber}}</span>

    <div [ngSwitch]="view">
        <div *ngSwitchCase="'month'">
            <div class="calendar-day__event-outer-wrapper month" [ngClass]="{'status-only': showOnlyStatus}">
                <div class="calendar-day__event" *ngFor="let event of transportEvents; let i = index; trackBy: trackTransportEvent" 
                    (click)="showTransportEvent(event)"
                    [ngClass]="{month: !showOnlyStatus, 'status-only': showOnlyStatus, multiday: (event.multiday && event.multidayMainRef), 'multiday-main': (event.multiday && !event.multidayMainRef), 'last-multiday': isLastMultidayEvent(event)}"
                    [hidden]="hideEvent(i + (event.offsetTop ? event.offsetTop : 0), event)" 
                    [ngStyle]="{'margin-top': (event.offsetTop ? event.offsetTop * 20 + 'px' : '')}">
                    <div class="calendar-day__event-wrapper month" [ngClass]="TransportEventStatusColor[event.status]">
                        <span [hidden]="event.multiday && event.multidayMainRef">{{event.dateStart | date: 'HH:mm'}} </span>
                        <span [hidden]="event.multiday && event.multidayMainRef" class="calendar-day__event-title">{{event.title}}</span>
                    </div>
                </div>
                <div class="calendar-day__more-events"
                    (dblclick)="switchToDayView()"
                    *ngIf="moreEventsLabel">
                    {{moreEventsLabel}}
                </div>
            </div>
        </div>
        <div *ngSwitchCase="'schedule'">
            <div class="calendar-day__event-outer-wrapper schedule" *ngIf="transportEvents.length">
                <div class="calendar-day__event-date">
                    <div class="calendar-day__event-week-day">{{getEventWeekDay(transportEvents[0])}}</div>
                    <div class="calendar-day__event-day">{{transportEvents[0].dateStart | date: 'dd/MM/yy'}}</div>
                </div>
                <div class="calendar-day__event schedule" *ngFor="let event of transportEvents; let i = index; trackBy: trackTransportEvent"  (click)="showTransportEvent(event)">
                    <div class="d-flex flex--align-center">
                        <span class="calendar-day__event-status" [ngClass]="TransportEventStatusColor[event.status]"></span>
                        <span class="calendar-day__event-time" [hidden]="event.multiday">{{event.dateStart | date: 'HH:mm'}} - {{event.dateEnd | date: 'HH:mm'}}</span>
                        <span class="calendar-day__event-time" [hidden]="!event.multiday">All day</span>
                        <span class="calendar-day__event-title">{{event.multiday ? event.multidayTitle : event.title}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div *ngSwitchDefault>
            <div class="calendar-day__event-outer-wrapper week day">
                <div class="calendar-day__event" *ngFor="let event of oneDayTransportEvents; let i = index; trackBy: trackTransportEvent" (click)="showTransportEvent(event)"
                    [ngClass]="{week: view === 'week', day: view === 'day'}"
                    [ngStyle]="getStyle(i, event)">
                    <div class="calendar-day__event-wrapper" [ngClass]="view + ' ' + TransportEventStatusColor[event.status]" [hidden]="hideEvent(i, event)">
                        <div class="calendar-day__event-title">{{event.title}}</div>
                        <div class="calendar-day__event-time-location">
                            <i class="calendar-day__event-time">{{event.dateStart | date: 'HH:mm'}} </i>
                            <span class="calendar-day__event-location">
                                <span v-if="event.locationFromCoordinates.description">From <b>{{event.locationFromCoordinates.description}}</b></span>
                                <span v-if="event.locationToCoordinates.description"> To <b>{{event.locationToCoordinates.description}}</b></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
