@import '../../../assets/styles/variables';
:host{
  display: flex;
  flex-direction: column;
  @media screen and (max-width: $breakpoint-xl){
    padding-top: 0;
  }
}
.calendar-day {
    height: 100%;
    width: 100%;
    border-right: 1px solid #dadce0;
    border-top: 1px solid #dadce0;
    padding-top: 25px;
    position: relative;
    cursor: pointer;
    transition: all .2s linear;
    flex: 1 1 auto;

    &.month {
        &:hover {
            background: #ebebeb;
        }
    }
    &.week {
        height: calc(50px * 24);
        padding-top: 0;
        border-top: none;

        &.last-day {
            border-right: none;
        }
    }

    &.day {
        height: calc(50px * 24);
        padding-top: 0;
        border-right: none;
        border-top: none;
    }

    &.schedule {
        border-top: none;
        border-right: none;
        padding-top: 0;
        margin: 30px 0;
        height: auto;
      @media screen and (max-width: $breakpoint-sm){

      }
    }

    &__number {
        position: absolute;
        top: 1px;
        font-size: 13px;
        right: 50%;
        transform: translateX(50%);

        @media(min-width: $breakpoint-sm) {
            font-size: 16px;
            right: 5px;
            transform: none;
        }

        &.not-current-month {
            color: #ccc;
        }

        &.today {
            color: white;

            @media(min-width: $breakpoint-sm) {
                right: 9px
            }

            &:before {
                background-color: #3f51b5;
                border-radius: 50%;
                content: '';
                width: 20px;
                height: 20px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                position: absolute;
                z-index: -1;
                @media (min-width: $breakpoint-sm) {
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }

    &__hour-separator {
        height: 50px;
        border-bottom: 1px solid #dadce0;
        position: relative;

        &:last-child {
            border-bottom: none;
        }

        span {
            position: absolute;
            top: 0;
            left: -15px;
        }
    }

    &__event {
        &.month {
            height: auto;
            width: calc(100% - 5px);
            margin-left: 2px;
            padding-bottom: 2px;

            &.multiday {
                width: calc(100% + 1px);
                margin-left: 0;
            }

            &.multiday-main {
                width: calc(100% - 1px);
            }
        }

        &.week,
        &.day {
            position: absolute;
            left: 0;
            width: 100%;
        }

        &.schedule {
            border-radius: 4px;
            box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
            background: #fff;
            padding: 11px 24px;
            margin-bottom: 5px;
        }

        &.status-only {
            width: 10px;
            height: 10px;
            max-width: 10px;
            max-height: 10px;
            overflow: hidden;
            padding: 0;
            margin-right: 2px;
            margin-bottom: 2px;
            border-radius: 3px;
            position: relative;

            .calendar-day__event-wrapper * {
                display: none;
            }
        }

        &.blue {
            background: rgba(0, 0, 255, 0.7019607843137254);
        }
        &.red {
            background: rgba(255, 0, 0, 0.83);
        }
        &.yellow {
            color: black;
            background: rgba(255, 255, 0, 0.84);
        }
        &.green {
            background: rgba(0, 128, 0, 0.82);
        }

        &-outer-wrapper {
            max-height: 100%;

            &.schedule {
                padding-left: 85px;
                position: relative;
                @media screen and (max-width: $breakpoint-sm){
                    padding-left: 0;
                }
            }

            &.status-only {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: flex-start;
            }
        }

        &-date {
            position: absolute;
            left: 0;
            top: 5px;
            color: #888;
          @media screen and (max-width: $breakpoint-sm){
            left: 20px;
            top: -45px;
          }
        }

        &-day {
            font-size: 14px;
            text-align: center;
        }

        &-week-day {
            font-size: 11px;
            text-align: center;
            text-transform: uppercase;
        }

        &-time {
            font-size: 14px;
            padding-right: 10px;
            white-space: nowrap;
            min-width: 100px;
        }

        &-title {
            .schedule & {
                font-weight: 500;
                position: relative;
                top: -1px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .month &,
            .week &,
            .day & {
                font-weight: bold;
                max-height: calc(100% - 20px);
                overflow: hidden;
            }
        }

        &-status {
            left: 0;
            width: 20px;
            height: 20px;
            display: inline-block;
            border-radius: 50%;
            background: blue;
            margin-right: 10px;

          &.blue {
            background: rgba(0, 0, 255, 0.7019607843137254);
          }
          &.red {
            background: rgba(255, 0, 0, 0.83);
          }
          &.yellow {
            color: black;
            background: rgba(255, 255, 0, 0.84);
          }
          &.green {
            background: rgba(0, 128, 0, 0.82);
          }

        }

        &-wrapper {
            font-size: 12px;
            background: blue;
            width: calc(100% - 10px);
            border-radius: 5px;
            padding: 3px;
            color: white;

          &.blue {
            background: rgba(0, 0, 255, 0.7019607843137254);
          }
          &.red {
            background: rgba(255, 0, 0, 0.83);
          }
          &.yellow {
            color: black;
            background: rgba(255, 255, 0, 0.84);
          }
          &.green {
            background: rgba(0, 128, 0, 0.82);
          }


          &.week,
            &.day {
                height: 100%;
                display: flex;
                flex-direction: column;
                width: calc(100% - 2px);
                overflow: hidden;
                padding: 2px;
                border: 1px solid white;
            }

            &.month {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                height: 18px !important;
                padding: 0 0 0 3px;
                border-radius: 3px;
                width: 100% !important;
              @media screen and (min-width: $breakpoint-sm) and (max-width: 1300px){
                height: 16px !important;
              }
            }

            .multiday & {
                border-radius: 0;
            }

            .last-multiday & {
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
            }

            .multiday-main & {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        &-time-location {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    &__more-events {
        font-size: 12px;
        padding-left: 3px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
