:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 0!important;
  background-image: url('../../../assets/images/bg-right.jpg'), url('../../../assets/images/bg-left.jpg');
  background-position: right bottom, left bottom;
  background-size: contain;
  background-repeat: no-repeat; /* this applies to both images */
}

.login-form {
  height: 100%;
  &__input {
    margin-top: -6px;
  }
}

:host mat-card-actions {
  padding: 0;
}

:host i.material-icons {
  margin-top: -18px;
}
