<form class="col-md-6  offset-md-3 col-sm-8 offset-sm-2 mt-5" [formGroup]="loginForm" (submit)="onSubmit()">
  <mat-card class="material-card mat-elevation-z4">
    <mat-card-header>
      <mat-card-title>{{'Buttons.login_button' | translate}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <table class="input-full-width mt-4" cellspacing="0">
          <tr>
            <td class="d-flex align-items-center">
              <i class="material-icons mr-2">perm_identity</i>
              <mat-form-field appearance="outline" class="input-full-width">
                <mat-label>{{'Login_form.email' | translate}}</mat-label>
                <input class="login-form__input" type="email" matInput formControlName="email" placeholder="{{'Login_form.email' | translate}}" autocomplete="off">
                <mat-hint>
                  <div *ngIf="submitted && formControls.email.errors?.required">{{'Login_form.email_required' | translate}}</div>
                </mat-hint>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td class="d-flex align-items-center">
              <i class="material-icons mr-2">security</i>
              <mat-form-field appearance="outline" class="input-full-width">
                <mat-label>{{'Login_form.password' | translate}}</mat-label>
                <input class="login-form__input" matInput placeholder="{{'Login_form.password' | translate}}" autocomplete="off" formControlName="password"
                       [type]="hide ? 'password' : 'text'">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-hint>
                  <div *ngIf="submitted && formControls.password.errors?.required">{{'Login_form.password_required' | translate}}</div>
                </mat-hint>
              </mat-form-field>
            </td>
          </tr>
        </table>
    </mat-card-content>
    <mat-card-actions class="d-flex justify-content-center">
      <button mat-raised-button color="primary" class="mb-2">{{'Buttons.login_button' | translate}}</button>
    </mat-card-actions>
  </mat-card>
</form>

<div class="row">
  <div class="col-6" style="background:white;">
    Admin test
    <p>email: admin@gmail.com</p>
    <p>password: 123456</p>
  </div>
  <div class="col-6" style="background:white;">
    Driver test
    <p>email: driver@gmail.com</p>
    <p>password: 123456</p>
  </div>
</div>
