<div class="container mt-4 mb-4">
    <back-route-button></back-route-button>
    <div>
        <mat-card class="material-card">
            <mat-card-header>
                <mat-card-title>{{'Event_form.add_event' | translate}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="eventForm">
                    <div class="row align-items-center justify-content-between">
                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>{{'Event_form.event_name' | translate}}</mat-label>
                            <input matInput autocomplete="off" placeholder="{{'Event_form.event_name' | translate}}" formControlName="title" class="font-size-2 input-big">
                            <mat-error *ngIf="eventForm.get('title').hasError('required')">
                              {{'Event_form.event_required' | translate}}
                            </mat-error>
                        </mat-form-field>
                    </div>
					<div>
						<div class="row">
							<div class="col-12 col-md-6 event__date-row">
								<mat-form-field appearance="outline" class="full-width datepicker">
									<mat-label>{{'Event_form.date_from' | translate}}</mat-label>
									<input matInput autocomplete="off" (click)="picker.open()" [matDatepicker]="picker"
										placeholder="{{'Event_form.date_from' | translate}}"
										formControlName="dateStart">
									<mat-datepicker-toggle matSuffix [for]="picker"> </mat-datepicker-toggle>
									<mat-datepicker touchUi #picker></mat-datepicker>
								</mat-form-field>
								<timepicker [formCtrl]="eventForm.get('dateStart')"></timepicker>
							</div>
							<div class="col-12 col-md-6 event__date-row">
								<mat-form-field appearance="outline" class="full-width datepicker">
									<mat-label>{{'Event_form.date_to' | translate}}</mat-label>
									<input matInput autocomplete="off" [matDatepicker]="picker2" (click)="picker2.open()"
										placeholder="{{'Event_form.date_to' | translate}}" formControlName="dateEnd">
									<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
									<mat-datepicker touchUi #picker2></mat-datepicker>
								</mat-form-field>
								<timepicker [formCtrl]="eventForm.get('dateEnd')"></timepicker>
							</div>
						</div>
						<div class="row">
							<mat-form-field appearance="outline" class="event__select col-12 col-md-4">
								<mat-label>{{'Event_form.assign_driver' | translate}}</mat-label>
								<mat-select multiple matNativeControl formControlName="drivers">
									<mat-option *ngFor="let driver of drivers; let i = index;" value="{{driver._id}}">{{driver.firstName}} {{driver.lastName}}
									</mat-option>
								</mat-select>
							</mat-form-field>
							<mat-form-field appearance="outline" class="event__select col-12 col-md-4">
								<mat-label>{{'Event_form.assign_client' | translate}}</mat-label>
								<mat-select multiple matNativeControl formControlName="clients">
									<mat-option *ngFor="let client of clients; let i = index;" value="{{client._id}}">{{client.firstName}} {{client.lastName}}
									</mat-option>
								</mat-select>
							</mat-form-field>
							<br>
							<mat-form-field appearance="outline" class="event__select col-12 col-md-4">
								<mat-label>{{'Event_form.assign_car' | translate}}</mat-label>
								<mat-select formControlName="vehicle">
									<mat-option value="" disabled selected>------</mat-option>
									<mat-option *ngFor="let vehicle of vehicles; let i = index;" value="{{vehicle._id}}">
										{{vehicle.make}},({{vehicle.yearOfManufacture}})
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<div class="row">
							<mat-form-field appearance="outline" class="event__select col-12 col-md-4">
								<mat-label>{{'Event_form.event_status' | translate}}</mat-label>
								<mat-select placeholder="{{'Event_form.event_status' | translate}}" formControlName="status">
									<mat-option *ngFor="let status of statuses" [value]="status" class="event__select--option">
										<span [ngStyle]="{'background-color': TransportEventStatusColor[status]}" style="float: left; width: 30px;  height: 30px; border-radius: 30px;margin-top: 8px; margin-right: 15px;"></span> {{status}}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<div>
							<mat-form-field appearance="outline" class="full-width">
								<textarea formControlName="description" matInput placeholder="{{'Event_form.description' | translate}}" rows="6" class="input-grey full-width"></textarea>
							</mat-form-field>
						</div>
					</div>
					<div class="row">
						<google-map class="col-12 col-md-6 mt-4" (placeSelected)="onLocationFromChange($event)" [coordinates]="eventForm.get('locationFromCoordinates').value" [placeholder]="'Departure location'"></google-map>
						<google-map class="col-12 col-md-6 mt-4" (placeSelected)="onLocationToChange($event)" [coordinates]="eventForm.get('locationToCoordinates').value" [placeholder]="'Destination location'"></google-map>
					</div>
					<div class="text-right">
						<button [disabled]="eventForm.invalid" (click)="submitForm()" color="primary" class="mt-4" mat-raised-button>
							{{'Buttons.save' | translate}} <i class="material-icons">save</i>
						</button>
					</div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
