:host{
  display: flex;
  flex-direction: column;
  height: 100%;
}

form {
  .event {
    &__date-row {
      display: flex !important;
      align-items: center;

      timepicker {
        margin-left: 10px;
        padding-bottom: 15px;
      }
    }
  }
}
