<h1 mat-dialog-title class="text-center">Awaiting Invitations</h1>
<div mat-dialog-content>
  <ul>
    <li *ngFor="let item of invitedUsersList">
      {{item.email}}, {{item.userRole}} , expires at: {{item.expirationDate | date :'short'}} <button mat-mini-fab color="warn" class="ml-1" (click)="deleteInvitation(item)"> <i class="material-icons">delete</i></button>
    </li>
  </ul>
</div>
{{invitedUsersList|json}}
<div mat-dialog-actions class="d-flex justify-content-between">
  <button (click)="onNoClick()" mat-raised-button>Cancel</button>
</div>
