@import '~material-icons/css/material-icons.scss';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '../node_modules/bootstrap/scss/bootstrap';
@import './custom-theme';
@import "assets/styles/variables";
@import "assets/styles/mat-card";

body {
  margin: 0;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

app-root {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
}

.input-full-width {
  width: 100%;
}

.container-fluid {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
  min-height: 0;
}

.router-wrapper {
  height: 100%;
  overflow: hidden;
  router-outlet + * {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: 70px;
    padding: 0 20px;
    transition: margin-left $transitionSideBarTime ease-in-out;
    position: relative;

    @media(max-width: $breakpoint-sm) {
      margin-left: 0;
      padding: 0;
    }

    &:before {
      transition: opacity $transitionSideBarTime ease-in-out, width 0ms $transitionSideBarTime ease-in-out;
      content: '';
      background-color: rgba(0, 0, 0, .38);
      position: absolute;
      left: 0;
      top: 0;
      width: 0;
      height: 100%;
      z-index: 1;
      opacity: 0;
    }
  }
  router-outlet.menu-expanded + * {
    margin-left: 240px;

    &:before {
      transition: opacity $transitionSideBarTime ease-in-out;
      width: 100%;
      opacity: 1;
    }

    @media(max-width: $breakpoint-md) {
      margin-left: 70px;
    }
    @media(max-width: $breakpoint-sm) {
      margin-left: 0;
    }
  }
}

.mat-input-element:disabled, .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
  color: rgba(0, 0, 0, 0.9) !important;
  font-weight: 600;
}

.mat-form-field-wrapper {
  //padding-bottom: 0!important;
}

mat-card-actions {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

mat-card {
  padding: 0 !important;
  mat-card-header {
    padding-top: 12px;
  }
  > mat-card-actions:last-child {
    margin-bottom: -8px;
    padding-bottom: 10px;
  }
  mat-card-content {
    padding: 0 20px;
  }
}

mat-card-content {
  margin-bottom: 0 !important;
}

.mat-list-base {
  padding-top: 0;
}

html {
  .mat-drawer-container,
  .mat-sidenav-content,
  .router-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
    min-height: 0;
  }

  .mat-drawer-content {
    height: auto;
  }
}

mat-sidenav-content {
  margin-left: auto !important;
}

.d-flex {
  display: flex !important;
}

.flex--column {
  flex-direction: column;
}

.flex--justify-center {
  justify-content: center !important;
}

.flex--justify-between {
  justify-content: space-between !important;
}

.flex--align-center {
  align-items: center !important;
}

.flex--justify-start {
  justify-content: flex-start;
}

.flex--wrap {
  flex-wrap: wrap;
}

form {
  .mat-input-element {
    vertical-align: bottom;
    -webkit-appearance: none;
    border-radius: 6px;
    padding: 3px;

  }
  .input-big {
    padding: 13px 6px;
  }
  textarea {
    resize: none;
  }
  .datepicker i {
    position: absolute;
    left: auto;
    right: 5px;
    bottom: 2px;
  }
}

//font size

@each $i in 1, 2, 3 {
  .font-size-#{$i} {
    font-size: #{$i}em !important;
  }
}

// margins and paddings
@each $i in 0, 5, 10, 15, 20, 25, 30 {
  .margin-left-#{$i} {
    margin-left: #{$i}px !important;
  }
  .margin-right-#{$i} {
    margin-right: #{$i}px !important;
  }
  .margin-top-#{$i} {
    margin-top: #{$i}px !important;
  }
  .margin-bottom-#{$i} {
    margin-bottom: #{$i}px !important;
  }
  .margin-#{$i} {
    margin: #{$i}px !important;
  }
  .padding-left-#{$i} {
    padding-left: #{$i}px !important;
  }
  .padding-right-#{$i} {
    padding-right: #{$i}px !important;
  }
  .padding-top-#{$i} {
    padding-top: #{$i}px !important;
  }
  .padding-bottom-#{$i} {
    padding-bottom: #{$i}px !important;
  }
  .padding-#{$i} {
    padding: #{$i}px !important;
  }
}

.full-width {
  width: 100%;
}

.mat-card-header .mat-card-title {
  font-size: 30px;
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, .38);
}

.mat-drawer-inner-container {
  overflow: hidden !important;
}

.mat-dialog-container {
  height: auto !important;
  overflow-x: hidden !important;
}

.mat-card-header-text {
  width: 100%;
  margin: 0 !important;
  text-align: center;
}
.mat-list-base {
  padding-top: 0;
}

@media screen and (max-width: $breakpoint-xl) {

}

@media screen and (min-width: $breakpoint-sm) {
  .mobile-only {
    display: none;
  }
}

@media screen and (max-width: $breakpoint-md) {
  .desktop-only {
    display: none;
  }
  .mobile-only {
    display: block;
  }
  .mat-dialog-container {
    padding: 10px !important;
  }

}

@media screen and (max-width: $breakpoint-sm) {
  .table__title[_ngcontent-c21] {
    text-align: left;
    font-size: 30px;
    padding-left: 16px;
    display: inline-block;
    font-weight: 600;
  }
  .cdk-overlay-pane {
    max-width: 95vw !important;
  }

  .desktop-tablet-only {
    display: none;
  }
  .mat-dialog-container {
    padding: 13px !important;
  }
  .mat-card-header .mat-card-title {
    font-size: 15px;
    padding: 4px 0 !important;
  }
  .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0;
    padding-bottom: 0;
  }
  mat-card {
    mat-card-content {
      padding: 0;
    }
  }
  mat-cell:last-of-type, mat-footer-cell:last-of-type, mat-header-cell:last-of-type {
    padding-right: 0 !important;
  }

}

.transparent {
  background-color: transparent !important;
}

.gmnoprint {
  display: none;
}
