<div class="col-sm-8 offset-sm-2">

  <mat-card class="material-card">
    <mat-card-header>
      <mat-card-title>{{header}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form">

        <mat-form-field appearance="outline" class="input-full-width">
          <mat-label>First Name</mat-label>
          <input matInput type="text" placeholder="First Name" formControlName="firstName">
          <mat-error *ngIf="submitted && form.get('firstName').hasError('required')">
            First Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <br>

        <mat-form-field appearance="outline" class="input-full-width">
          <mat-label>Last Name</mat-label>
          <input matInput type="text" placeholder="Last Name" formControlName="lastName">
          <mat-error *ngIf="submitted && form.get('lastName').hasError('required')">
            Last Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" class="input-full-width">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email">
          <mat-error
            *ngIf="form.get('email').errors?.emailValidationError">
            Please enter a valid email address with : "@"
          </mat-error>
          <mat-error *ngIf="submitted && form.get('email').hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" class="input-full-width">
          <mat-label>Contact Number</mat-label>
          <input matInput type="text" placeholder="PhoneNumber" formControlName="phoneNumber">
          <mat-error *ngIf="submitted && form.get('phoneNumber').hasError('required')">
            Phone Number is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <mat-select placeholder="Driver Status" matNativeControl formControlName="status">
            <mat-option value="Active">Active</mat-option>
            <mat-option value="Inactive">Inactive</mat-option>
          </mat-select>
          <mat-error *ngIf="submitted && form.get('status').hasError('required')">
            Add driver Status
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" class="input-full-width">
          <input matInput type="text" placeholder="Password" formControlName="password">
          <mat-error *ngIf="submitted && form.get('password').hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="input-full-width">
          <input matInput type="text" placeholder="Confirm Password" formControlName="retypePassword">
          <mat-error *ngIf="form.get('retypePassword').value && form.get('retypePassword').hasError('required')">
            Password confirmation must match<strong> provided password</strong>
          </mat-error>
        </mat-form-field>
        <div class="mb-1 mt-1 d-flex flex--justify-between">
          <button *ngIf="!editMode && registrationMode" mat-raised-button color="primary" (click)="submitForm()">Save <i class="material-icons">
            save
          </i></button>
          <button *ngIf="editMode" mat-raised-button color="primary" (click)="updateForm()">Update</button>
          <button *ngIf="id" mat-raised-button color="primary" (click)="toggleEditMode()" style="margin-left: auto;" [innerHtml]="editMode ? 'Disable Editing' : 'Edit'"></button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>



