<h5 class="text-center">{{title}}</h5>
<div mat-dialog-content>
  <button mat-raised-button (click)="onNoClick()">{{'Buttons.cancel' | translate }}</button>
  <button mat-raised-button color="warn" [mat-dialog-close]="true">{{'Buttons.delete' | translate }}</button>
</div>



