
<button color="primary" class="mb-4"
        mat-raised-button
        (click)="navigateBackHistory()"
        matTooltip="{{'Tooltips.previous_button' | translate}}">
  <i class="material-icons">undo</i>
</button>
