<div class="col-sm-6 offset-sm-3 mt-4 form-wrapper">
  <mat-card class="material-card">
    <mat-card-header>
      <mat-card-title>{{ 'Car_form.add_car' | translate}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="carForm">
        <mat-form-field appearance="outline" class="input-full-width input-big">
          <mat-label>{{'Car_form.manufacturer' | translate}}</mat-label>
          <input matInput type="text" placeholder="{{'Car_form.manufacturer' | translate}}" formControlName="make">
          <mat-error *ngIf="submitted && carForm.get('make').hasError('required')">
            {{'Car_form.manufacturer_required' | translate}}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="input-full-width">
          <mat-label>{{'Car_form.year' | translate}}</mat-label>
          <input matInput type="text" placeholder="{{'Car_form.year' | translate}}" formControlName="yearOfManufacture">
          <mat-error *ngIf="submitted && carForm.get('yearOfManufacture').hasError('required')">
            {{'Car_form.year_required' | translate}}
          </mat-error>
        </mat-form-field>

        <div class="d-flex justify-content-between" *ngIf="editMode || viewMode == null">
          <button mat-flat-button color="primary" (click)="fileInput.click()">
            <span>{{'Car_form.add_image' | translate}}</span>
            <mat-icon>library_add</mat-icon>
            <input #fileInput type="file" (change)="onFileInput($event)" multiple
                   style="display:none;"/>
          </button>

          <button mat-flat-button color="accent" (click)="clearPhotosList()" *ngIf="imageUrls.length > 0">
            <span>{{'Buttons.clear' | translate}}</span>
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <div class="image__preview">
          <img *ngFor="let url of photosArr" [src]="url" class="rounded mb-3">
        </div>

        <mat-form-field appearance="outline" class="input-full-width mt-2">
          <mat-select placeholder="Car Status" matNativeControl formControlName="status">
            <mat-option value="active">{{'Car_form.Select.active_state' | translate}}</mat-option>
            <mat-option value="inactive">{{'Car_form.Select.inactive_state' | translate}}</mat-option>
          </mat-select>
          <mat-error *ngIf="submitted && carForm.get('status').hasError('required')">
            {{'Car_form.Select.state_required' | translate}}
          </mat-error>
        </mat-form-field>
        <div class="mb-1 mt-1 d-flex flex justify-between">
          <button *ngIf="!editMode && viewMode == null"
                  mat-raised-button
                  color="primary"
                  (click)="submitForm()">{{'Buttons.save' | translate}} <i
            class="material-icons">save</i></button>
          <button *ngIf="editMode"
                  mat-raised-button color="primary"
                  (click)="postForm()">{{'Buttons.update' | translate}}
          </button>
          <button *ngIf="id" mat-raised-button color="primary" (click)="toggleEditMode()" style="margin-left: auto;">
            <span *ngIf="editMode">{{'Buttons.disable_edit' | translate}}</span>
            <span *ngIf="!editMode">{{'Buttons.edit' | translate}}</span>
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>


