@import "variables";

mat-card {
  mat-card-header {
    background: $mat-primary !important;
    color: white !important;
    padding-top: 0 !important;
    margin-top: 0 !important;
    border-radius: 5px 5px 0 0 !important;
    mat-card-title {
      margin-bottom: 0 !important;
      padding: 10px 0 !important;
    }
  }
}

mat-card-content > :last-child:not(.mat-card-footer), mat-card > :last-child:not(.mat-card-footer) {
  margin-bottom: 0;
  padding: 10px;
}
