<mat-sidenav #sidenav mode="side"
             *ngIf="isLoggedIn"
             class="sidenav"
             [ngClass]="{expanded: isExpanded}"
             opened="true">
  <mat-nav-list>
    <mat-list-item *ngFor="let item of menuItems"
                   [routerLink]="item.link"
                   (click)="closeSideBar()"
                   routerLinkActive="active"
                   [matTooltip]="item.tooltip | translate">
      <mat-icon *ngIf="item.icon" class="icon">{{item.icon}}</mat-icon>
      <i class="icon" *ngIf="item.img"><img [src]="item.img"></i>
      <div fxFlex="10"></div>
      <div class="sidenav-item">
        <h6 class="text-bold">{{item.title | translate}}</h6>
      </div>
    </mat-list-item>


    <mat-list-item [hidden]="!isLoggedIn" (click)="logout()" matTooltip=" {{'Buttons.logout_button' | translate}}">
      <mat-icon class="icon">exit_to_app</mat-icon>
      <div fxFlex="10"></div>
      <div class="sidenav-item">
        <h6 class="text-bold">
          {{'Buttons.logout_button' | translate}}
        </h6></div>
    </mat-list-item>
  </mat-nav-list>
</mat-sidenav>
