$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$transitionSideBarTime: 400ms;

.sidenav {
  width: 70px;
  transition: width $transitionSideBarTime ease-in-out;
  transform: none;
  visibility: visible;

  @media(max-width: $breakpoint-sm) {
    width: 0;
  }
  &.expanded {
    width: 240px;
    @media(max-width: $breakpoint-sm) {
      width: 100%;
    }
  }
  .icon {
    margin-left: 10px;
    margin-right: 20px;
    img {
      width: 25px;
      height: auto;
      display: inline-block;
    }
  }
  .active {
    background-color: grey;
    /*mat-icon {
      color: white;
    }*/
  }
  .sidenav-item {
    min-width: 153px;
  }
  .sidenav-item h6, .sidenav-item > * {
    margin-top: 10px;
  }
  .mat-drawer-inner-container {
    overflow: hidden !important;
  }
}
